/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 1280px;
  height: 150px;
  border: none;
  outline: none;
  font-size: 15px;
margin-top: 20px;
margin-left: 35px;
margin-right: 25px;
font-family: "Bnazanin";
font-size: 40px;
text-align: right;
padding-right: 210px;
font-weight: 700;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;

}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 1280px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 35px;
margin-right: 25px;
}
.open-wrap {
  display: block;
  margin: 0 0 8px;
}

@media only screen and (min-width: 767px) {
  .open-wrap {
    margin: 0 0 32px;
  }
}

.open-input {
  display: none;
}

.open-label {
  position: relative;
  display: block;
  padding: 8px 8px 8px 28px;
  line-height: 24px;
  font-size: 25px;
  background: #eee;
  cursor: pointer;
  direction: rtl;
  
}

.open-label:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 12px;
  display: block;
  width: 16px;
  height: 16px;
  border: solid 1px #ced4da;
  border-radius: 5px;
  background: #f5f5f5;
text-align: right;
margin-left: 1210px;
}

.open-label:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 8px;
  display: none;
  width: 7px;
  height: 14px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  border-bottom: 3px solid #e86b40;
  border-right: 3px solid #e86b40;
  text-align: right;
  margin-left: 1210px;

}

@media only screen and (min-width: 767px) {
  .open-label {
    padding: 8px 8px 8px 32px;
  }
  .open-label:before {
    left: 8px;
  }
  .open-label:after {
    left: 13px;
  }
}

.open-contents {
  position: relative;
  text-align: right;
  padding-right: 25px;
  font-family: "Bnazanin";
  font-size: 30px;
}

.open-contents__inner {
  display: none;
}

.open-input:checked + .open-contents > .open-contents__inner {
  display: block;
}

@media only screen and (min-width: 767px) {
  .open-input:checked + .open-contents > .open-contents__inner {
    padding: 4px 0 0 0;
  }
}

.open-input:checked + .open-contents > .open-label:after {
  display: block;
}













.form-style-9{
	max-width: 1200px;
	background: #FAFAFA;
	padding: 30px;
	margin: 10px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px;
  font-size: 18px;
  font-family: "Bnazanin";
  
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
  margin-left: 40px;


}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 10%;
}
.form-style-9 ul li .field-full{
	width: 90%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 90%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12x 'Bnazanin';
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}
.hr { 
  display: block;
  color: #bfbeb9;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  box-shadow: #333;
}
